<div class="features">

    <div class="features-header">
        <h1 class="features-header__title">Tailor-made features</h1>
        <p class="features-header__description">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
    </div>

    <div class="list-features">
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon1.svg">
            <h2 class="feature__title">Robust workflow</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon2.svg">
            <h2 class="feature__title">Flexibility</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon3.svg">
            <h2 class="feature__title">User friendly</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon4.svg">
            <h2 class="feature__title">Multiple layouts</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon5.svg">
            <h2 class="feature__title">Better components</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
        <div class="feature">
            <img class="feature__image" src="../../../assets/icons/icon6.svg">
            <h2 class="feature__title">Well organised</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
        </div>
    </div>

</div>

<div class="metrics">
    <div class="years">
        <h1 class="years__text">Our 18 years of achievements</h1>
    </div>
    <div class="metrics-list">
        <div class="metrics-data">
            <img class="metrics-data__image" src="../../../assets/icons/icon1.svg"/>
            <div class="data">
                <span class="data__number">10,000+</span>
                <span class="data__text">Downloads per day</span>
            </div>
        </div>
        <div class="metrics-data">
            <img class="metrics-data__image" src="../../../assets/icons/icon4.svg"/>
            <div class="data">
                <span class="data__number">2 Million</span>
                <span class="data__text">Users</span>
            </div>
        </div>
        <div class="metrics-data">
            <img class="metrics-data__image" src="../../../assets/icons/icon5.svg"/>
            <div class="data">
                <span class="data__number">500+</span>
                <span class="data__text">Clients</span>
            </div>
        </div>
        <div class="metrics-data">
            <img class="metrics-data__image" src="../../../assets/icons/icon1.svg"/>
            <div class="data">
                <span class="data__number">140</span>
                <span class="data__text">Countries</span>
            </div>
        </div>
    </div>
</div>