@import '../../../styles.scss';

.content {
    display: flex;
    flex-wrap: wrap;
}

.image {

    &__image {
        height: 100vh;
        @include media(tablet) {
            width: 100%;
        }
    }

    @include media(mobile) {
        display: none;
    }

    @include media(tablet) {
        width: 50%;
    }
}

.container {
    margin: 0 auto;
}

.login  {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #1A202C;
    }
}

.forget-password {
    text-align: right;
    color: #2c5282;
}