/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

@mixin media($media) {
    @if $media == mobile {
      @media (max-width: ($breakpoint-tablet - 1)) {
        @content;
      }
    } @else if $media == tablet {
      @media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-laptop - 1)) {
        @content;
      }
    } 
  }
  


.button {

    &--primary {
        background: #7C3AED !important;
        height: 48px;
    }

    &--secondary {
        color: #7C3AED !important;
        height: 48px;
    }
}
