<div class="footer">
    <div class="footer-info">
        <img src="../../../../assets/img/Logo2.svg">
        <ul class="list">
            <li>Download Now</li>
            <li>License</li>
        </ul>
        <ul class="list">
            <li>About</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>News</li>
            <li>Help</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="footer-info">
        <img src="../../../../assets/img/Logo2.svg">
        <ul class="list">
            <li>Contáctanos</li>
        </ul>
        <ul class="list">
            <li>Whatsapps</li>
            <li>978 566 567</li>
            <li>967 567 565</li>
        </ul>
    </div>
    <div class="stores">
        <span class="stores__text">Get the App</span>
        <img class="stores__img" src="../../../../assets/img/StoreApple.svg">
        <img class="stores__img" src="../../../../assets/img/StorePlay.svg">
    </div>
</div>