@import '../../../../styles.scss';

.footer {
    display: flex;
    flex-wrap: wrap; 
    background: #000000;
    padding: 64px 112px;

    @include media(mobile) {
        padding: 40px 20px;
    }

    @include media(tablet) {
        padding: 40px 40px;
    }
}


.footer-info {
    width: 40%;

    @include media(mobile) {
        width: 100%;
    }

    @include media(tablet) {
        width: 75%;
    }
}

.list {
    gap: 20px;
    display: flex;
    list-style: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 0;

    @include media(mobile) {
        flex-wrap: wrap;
    }
}

.stores {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__text {
        color: #D1D5DB;
    }

    &__img {
        width: 130px;
    }

    @include media(mobile) {
        width: 100%;
    }

    @include media(tablet) {
        width: 25%;
    }
}

.hide-mobile {
    @include media(mobile) {
        display: none;
    }

    @include media(tablet) {
        display: none;
    }
}